/*MEDIA*/

@media (min-height: 0px) {
    .image-flip:active .backside,
    .image-flip.hover .backside {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
    }

    .image-flip:active .frontside,
    .image-flip.hover .frontside {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
   
}

@media (min-height: 400px) {
    .image-flip:active .backside,
    .image-flip.hover .backside {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
    }

    .image-flip:active .frontside,
    .image-flip.hover .frontside {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    

}

@media (min-height: 568px) {
    .image-flip:hover .backside,
    .image-flip:hover .backside {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
    }

    .image-flip:hover .frontside,
    .image-flip.hover .frontside {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}
@media (min-height: 992px) {
    .image-flip:hover .backside,
    .image-flip.hover .backside {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
    }

    .image-flip:hover .frontside,
    .image-flip.hover .frontside {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}
@media (min-height: 1200px) {
   .image-flip:hover .backside,
   .image-flip.hover .backside {
       -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
       -o-transform: rotateY(0deg);
       -ms-transform: rotateY(0deg);
       transform: rotateY(0deg);
       border-radius: .25rem;
   }

   .image-flip:hover .frontside,
   .image-flip.hover .frontside {
       -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
       transform: rotateY(180deg);
   }
}



.btn-primary {
    background-color:#2f3360;
    border: none;
    font-size: 1.3rem;
}

.btn-primary:hover{
    background-color:#2f3360;
    border: none;
}

section {
    padding: 10px 0;
    font-size: 1.3rem;
    font-family: 'Harmattan', sans-serif;
}

section h4{
    font-size: 1.5rem;
    font-weight: bold;
}

#team .card {
    border: none;
    background: #eee;
}



.mainflip {
    -webkit-transition: .5s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: .5s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 1.3rem;
    color: white !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #2f3360 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.btntemario{
    margin-bottom: .5rem;
    background-color: #C93C3E;
    color: black;
    font-weight: bold;
}

.btntemario:hover{
    margin-bottom: .5rem;
    background-color: #DB5756;
}

.btnregistro{
    background-color: #B0CC41 ;
    color: black;
    font-weight: bold;
}
.btnregistro:hover{
    background-color: #BCD97B;
}