/*MEDIA*/

@media (min-height: 0px) {
	.carousel h1{
		font-size: 1.8rem;
	}
	.carousel h5{
		font-size: 1.5rem;
		padding-top: 3rem;
	}
	.carousel h6{
		font-size: 1.5rem;
		padding-top: 1.5rem;
	}
	.titulos h2{
		font-size: 1.5rem;
		margin: 1rem 0;	
	}


	footer, .copyright{
		font-size: .85rem;
	}

	.publicacionesindex .card{
	margin: 0 .5rem .5rem;}


}

@media (min-height: 400px) {
	.carousel h1{
		font-size: 1.8rem;
	}
	.carousel h5{
		font-size: 1.5rem;
		padding-top: 3rem;
	}
	.carousel h6{
		font-size: 1.5rem;
		padding-top: 1.5rem;
	}
	.titulos h2{
		font-size: 1.5rem;
		margin: 1rem 0;	
	}
	.publicacionesindex .card{
	margin: 0 .5rem .5rem;}

	footer, .copyright{
		font-size: .85rem;
	}

}

@media (min-height: 568px) {
	.carousel h1{
		font-size: 3.5rem;
	}
	.carousel h5, .carousel h6{
		font-size: 2.8rem;
		padding-top: 3rem;
	}
	.carousel h6{
		font-size: 2.8rem;
		padding-top: 1.5rem;
	}
	.titulos h2{
		font-size: 2.8rem;
		margin: 1.5rem 0;	
	}

	.publicacionesindex .card{
	margin: 0 4rem 2rem;}

	footer, .copyright{
		font-size: 1rem;
	}
}
@media (min-height: 992px) {
	.carousel h1{
		font-size: 4rem;
	}
	.carousel h5{
		font-size: 3rem;
		padding-top: 3rem;
	}
	.carousel h6{
		font-size: 3rem;
		padding-top: 1.5rem;
	}
	.titulos h2{
		font-size: 3rem;
		margin: 2rem 0;
	}
	.publicacionesindex .card{
	margin: 0 4rem 2rem;}

	footer, .copyright{
		font-size: 1rem;
	}
}
@media (min-height: 1200px) {
	.carousel h1{
		font-size: 4.5rem;
	}
	.carousel h5{
		font-size: 3rem;
		padding-top: 3rem;
	}
	.carousel h6{
		font-size: 3rem;
		padding-top: 1.5rem;
	}
	.titulos h2{
		font-size: 3rem;
		margin: 2rem 0;
	}
	.publicacionesindex .card{
	margin: 0 4rem 2rem;}
	footer{
		font-size: 1.3rem;
	}
}

