/*MEDIA*/

@media (min-height: 0px) {
	.carousel h1{
		font-size: 1.8rem;
	}
	.carousel h5{
		font-size: 1.3rem;
		padding-top: 3rem;
	}


	footer, .copyright{
		font-size: .85rem;
	}

}

@media (min-height: 400px) {
	.carousel h1{
		font-size: 1.8rem;
	}
	.carousel h5{
		font-size: 1.3rem;
		padding-top: 3rem;
	}


	footer, .copyright{
		font-size: .85rem;
	}

}

@media (min-height: 568px) {
	.carousel h1{
		font-size: 2.5rem;
	}
	.carousel h5{
		font-size: 1.5rem;
		padding-top: 3rem;
	}
	footer, .copyright{
		font-size: 1rem;
	}
}
@media (min-height: 992px) {
	.carousel h1{
		font-size: 3.5rem;
	}
	.carousel h5{
		font-size: 2.3rem;
		padding-top: 3rem;
	}
	footer, .copyright{
		font-size: 1rem;
	}
}
@media (min-height: 1200px) {
	.carousel h1{
		font-size: 3.8rem;
	}
	.carousel h5{
		font-size: 2.3rem;
		padding-top: 3rem;
	}
	footer{
		font-size: 1.3rem;
	}
}

