/*NAV*/

.navbar{
	background-color:  #2f3360;
}

.nav-link{
	color: white;
}

/*NAV*/

/*CAROUSEL*/

.carousel-item{
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100vw;
}

.s1{
  background-image: url(../img/c1.jpg);
}
.s2{
 background-image: url(../img/c2.jpg);
}
.s3{
 background-image: url(../img/c3.jpg);
}

.carousel-caption{
  background-color: rgba(0,0,0,.5);
  top:20%;
}


/*CAROUSEL*/

/*FOOTER*/
footer{
	padding: 1rem;
	background-color: #2f3360;
	color: #e7c810;
	font-family: 'Harmattan', sans-serif;
	text-align: center;
}

.copyright{
	background-color: black;
	font-family: 'Harmattan', sans-serif;
	text-align: center;
	padding: 1rem;
	color: white;
}

.iconos{
	margin: 0 .5rem;
}

/*FOOTER*/
