/*NAV*/

.navbar{
	background-color:  #2f3360;
	color: white;
	font-size: 1.3rem;
	font-family: 'Harmattan', sans-serif;
}


.dropdown-menu{
	background-color:  white;
	color: white;
	font-size: 1.3rem;
	font-family: 'Harmattan', sans-serif;
}
.dropdown-menu .dropdown-item:hover{
	background-color:  #2f3360;
	color:white;
	font-size: 1.3rem;
	font-family: 'Harmattan', sans-serif;
}


.nav-link{
	margin-left: 1rem;
}

/*TERMINA NAV*/

/*CAROUSEL*/

.carousel-item{
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100vw;
}

.s1{
  background-image: url(../img/c1.jpg);
}
.s2{
 background-image: url(../img/c2.jpg);
}
.s3{
 background-image: url(../img/c3.jpg);
}

.carousel-caption{
  background-color: rgba(0,0,0,.5);
  top:20%;
}

.carousel h1{
  font-family: 'Staatliches', cursive;
  letter-spacing: .3em;
}

.carousel h5{
  font-family: 'Staatliches', cursive;
  letter-spacing: .2em;
  color: #e7c810;
}

.carousel h6{
  font-family: 'Staatliches', cursive;
  letter-spacing: .2em;
  color: white;
}

/*TERMINA CAROUSEL*/

/*INDEX*/

.titulos{
	text-align: center;
	font-family: 'Staatliches', cursive;
}

.card-text{
	text-align: justify;
}

.creditos{
	text-align: center;
}

.creditosrow{
	margin: 1.5rem 0 1rem;
}

.card-title{
	font-size: 2rem;
	text-align: left;
}

.card-body{
	align-content: center;
	text-align: center;
	font-family: 'Harmattan', sans-serif;
}

.btn-publicacion{
	background-color:#e54e21;
	border-style:solid;
	border-color: #e54e21;
	border-width: 2px;
	color: white;
}
.btn-publicacion:hover{
	background-color: white;
	border-style:solid;
	border-color: #e54e21;
	border-width: 2px;
	color: #e54e21;
}



/*TERMINA INDEX*/


/*PUBLICACIONES*/

.left{
	text-align: left;
}

.search{
	font-family: 'Harmattan', sans-serif;
}

.titulopublicaciones{
	text-align: center;
	font-family: 'Staatliches', cursive;
	margin-top: 1rem;
}

.container {
  margin-top: 20px;
}

.pagination{
	color: black;
}

.nombrearticulo{
	text-align: left;
	font-family: 'Staatliches', cursive;
}

.articulocompleto{
	padding: 1.5rem 1.5rem 1.5rem 1rem;
}

.textopublicacion{
	font-family: 'Harmattan', sans-serif;
	text-align: justify;
	line-height: 120%;
}

.creditoscompleto{
	padding: 0;
	margin: 0;
}

.reply{
	font-family: 'Staatliches', cursive;
	text-align: left;
}

.replycontainer{
	margin-bottom: 2rem;
}

/*./PUBLICACIONES*/


/*FOOTER*/
footer{
	padding: 1rem;
	background-color: #2f3360;
	color: #e7c810;
	font-family: 'Harmattan', sans-serif;
	text-align: center;
}

.copyright{
	background-color: black;
	font-family: 'Harmattan', sans-serif;
	text-align: center;
	padding: 1rem;
	color: white;
}

.iconos{
	margin: 0 .5rem;
}

/*TERMINA FOOTER*/
